.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  background-color: white;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
  background-color: #F51240;
  height: 200px;
  width: 100%;
}

#logo {
  align-content: center;
}

#login {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
  background-color: white;

}

#input {
    width: 250px;
}

#bottom {
    margin-bottom: 0px;
    display: flex;
    flex-direction: line;
  justify-content: center;
}

#a {
  color: #F51240;
  font-size: 15px;

}

#button {
  width: 300px;
  height: 40px;
  background-color: #F51240;
  border: 2px;
  border-color: black;
  text-align: center;

}
