
.Appt {
    text-align: center;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: calc(8px + 2vmin);
    height: 100%;
    position: relative;
}

.App-header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.top {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F51240;
    height: calc(18% + 2vmin);
    width: 100%;
}

.top> img {
    margin-top: calc(5% + 1vmin);
    position: center;
    align-content: center;
    height: inherit;
}

.Go {
    margin: 30vh 39vh 10vh;
    position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.forgot {
    position: sticky;
    margin-right: 0%;
}

.bottom {
    background-color: white;
    display: flex;
    position: static;
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: inherit;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #F51240;
    text-decoration: none;
}

a:visited{
    color: #F51240;
    text-decoration: none;
}

a:focus{
    color: rgb(187, 0, 37);
    text-decoration: none;
}
