
.App {
    text-align: center;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: calc(8px + 2vmin);
    height: 100%;
}

.App-header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#top {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F51240;
    height: calc(22% + 2vmin);
    width: 100%;
}

img {
    margin-top: calc(12% + 1vmin);
    position: center;
    align-content: center;
    height: calc(45% + 5vmin);
}

#form {
    margin: 30vh 39vh 10vh;
    position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

}

#forgot {
    position: sticky;
    margin-right: 0%;
}

#bottom {
    display: flex;
    bottom: 10px;
    position: fixed;
    width: 100%;
}

#Support{
    position: absolute;
    margin-left: 0%;

}

#Version{
    position: center;
}

#Disclaimer{
    position: absolute;
    margin-right: 0%;
}

a {
    color: #F51240;
    text-decoration: none;
}

a:visited{
    color: #F51240;
    text-decoration: none;
}

a:focus{
    color: rgb(187, 0, 37);
    text-decoration: none;
}
