.Login {
    margin: 25vh 39vh 10px;
    display: flex;
    flex-direction: column;
}

#forgot {
    position: sticky;
    margin-right: 0%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .up {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin .down {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .md {
margin-bottom: -1px;
border-radius: 0;
}

.form-signin .marg {
margin-top: 10px;
}

Tooltip {
    background-color: #2727ad;
    color: #F51240;
    max-width:200;
    Width: 220;
    /* font-size: theme.typography.pxToRem(12); */
    border: '1px solid #dadde9';
  }
