/* .Registration{
  background:
  UIColor(red: 199/255, green: 199/255, blue: 205/255)
} */
Input[type="date"]:before {
  content: attr(placeholder) !important;
  color: rgb(74, 91, 110);
  margin-right: 0.5em;
}
Input[type="date"]:focus:before,
Input[type="date"]:valid:before {
  content: "";
}

input[type="date"] {
  color: rgb(74, 91, 110);
 font-family: 'Roboto-Regular', sans-serif;
}

.form-registration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.form-registration .checkbox {
  font-weight: 400;
}

.form-registration .registration-control {
  position: relative;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: 45px;
  font-size: 13pt;
  width: 100%;
  padding: 8px;
  color: rgb(74, 91, 110);
  border: 1px solid rgb(200, 199, 204);
  border-radius: 4pt;
}

.form-registration .registration-control:focus {
  z-index: 2;
}

.form-registration .up {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-registration .down {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-registration .md {
  margin-bottom: -1px;
  border-radius: 0px;
}

.form-registration .marg {
  margin-top: 10px;
}

.Psw {
  margin-top: -5px;
  text-align: center;
  font-size: 90%;
  font-style: inherit;
  color: rgb(181, 181, 181);
  width: inherit;
}

.row {
  margin-top: 5px;
  display: flex;
}

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f51240;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f51240;
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

p{
  font-size: 15px;
  color: red;
  display: block;
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}
