#Registration {
    margin: 30vh 39vh 0vh;
    position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

}

Input[type="date"]:before {
    content: attr(placeholder) !important;
    color: rgb(0, 0, 0);
    margin-right: 0.5em;
  }
  Input[type="date"]:focus:before,
  Input[type="date"]:valid:before {
    content: "";
  }

table input{
    margin-top: 0px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: calc(8px + 2vmin);
    height: calc(15px + 2vmin);
    border: none;
}

table {
    margin: 5px;
}

Input{
    border: 1px solid gray;
    border-bottom: 2px solid rgb(201, 18, 55);
    border-radius: 5px;
    width: 300px;

}

table> th {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: calc(8px + 2vmin);
    height: calc(15px + 2vmin);
    border: 1px solid gray;
    border-radius: 5px;
    border-bottom: 2px solid rgb(201, 18, 55);
    width: 300px;

}

table> th> tr {
    margin-top: 5px;
    font-family: 'Roboto-Regular', sans-serif;
    font-size: calc(8px + 2vmin);
    height: calc(15px + 2vmin);
    border: 2px solid gray;
    border-bottom: 2px solid rgb(201, 18, 55);
}

input[type=Date]{
    font-language-override: "ENG";
}
